In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('Student Placement dataset.csv')

In [7]:
df.shape

(300, 4)

In [8]:
df.head()

   CGPA   IQ  PROFILE_SCORE  PLACED
0  5.97  106             61       0
1  6.83  113             77       0
2  6.60  110             61       0
3  5.54  113             68       0
4  6.84  102             67       0

In [9]:
X = df.drop(columns=['PLACED'])
y = df['PLACED']

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [11]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()

rf.fit(X_train,y_train)

y_pred = rf.predict(X_test)

accuracy_score(y_test,y_pred)

0.8833333333333333

In [12]:
import pickle 
pickle.dump(rf,open('model.pkl','wb'))